[flake8]
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    */migrations/*

ignore = F401, F403
max-line-length = 110
per-file-ignores = **/__init__.py:D104