#search-form {
    margin-top: 250px;
}

#header-searchbar {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom-width: 2px;
    padding-left: 0;
}
#header-searchbar:focus {
    outline: none;
    border-color: #0275d8;
}

#header-searchbar::placeholder {
    color: gray;
    font-weight: 250;
}

#searchbar {
    width: 600px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom-width: 2px;
    padding-left: 0;
    border-color: #0275d8;
}
#searchbar:focus {
    outline: none;
}

#search-button {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    color: #0275d8;

}
#searchbar::placeholder {
    color: gray;
    font-weight: 250;
}

.col-md-4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#new-books {
    max-width: 660px;
    margin-top: 40px;
}

#download-buttons a {
    width: 90px;
    font-weight: bold;
}

#id_message {
    height: 200px;
}