{% extends 'app/base.html' %}
{% load static %}

{% block title %}
{{ book.title }} - {{ book.authors.all|join:", " }}
{% endblock %}

{% block main %}
    <div class="container-fluid mt-5 fw-light">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <img src="{{ book.cover.url }}" id="cover" alt="Book Cover" class="img-fluid">
            </div>
            <div class="col-md-3">
                <h2 class="text-body-secondary fw-light">{{ book.title }}</h2>
                <ul class="list-unstyled">
                    <li class="text-body-secondary pb-1"><strong>Зытхар:</strong> {{ book.authors.all|join:", " }}</li>
                    <li class="text-body-secondary pb-1"><strong>Жанрыр:</strong> {{ book.category }}</li>
                    <li class="text-body-secondary pb-1"><strong>Къыдэзыгъэкӏар:</strong> {{ book.publisher }}</li>
                    <li class="text-body-secondary pb-1"><strong>Къыщыдэкӏар:</strong> {{ book.published_at.year }} гъ.</li>
                    <li class="text-body-secondary pb-1"><strong>ISBN:</strong> {{ book.isbn }}</li>
                </ul>
                <div id="download-buttons">
                    <a href="{{ book.pdf.url }}" class="btn btn-primary" download>PDF</a>
                    <a href="{{ book.epub.url }}" class="btn btn-primary">EPUB</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}