{% extends 'app/base.html' %}
{% block title %}
    Бэрэеджэ - Адыгэ онлайн бибилотекэ
{% endblock %}

{% block main %}
    <div class="d-flex align-items-center justify-content-center flex-column">
        <form class="d-flex" id="search-form" method="get" action="{% url 'books:search' %}">
            <div class="input-group mb-3">
                <input name="q" type="search" id="searchbar" class="form-control shadow-none" placeholder="Тхылъым е тхакӏуэм и цӏэр" aria-label="Recipient's username" aria-describedby="search-button" autocomplete="off">
                <button class="btn" type="submit" id="search-button"><i class="bi-search fs-5"></i></button>
            </div>
        </form>
    </div>
    <div>
    </div>
    <div id="new-books" class="container d-flex flex-column">
        <h5 class="pb-2 text-body-secondary fw-light">Тхылъыщӏэхэр</h5>
        <div class="row fw-light">
            {% for book in new_books_list %}
            <div class="col-md-4">
                <a class="text-decoration-none" href="{% url 'books:get_book' slug=book.slug %}">{{ book.title}}</a>
                <p class="text-secondary">{{ book.authors.all|join:", " }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
